{% extends 'base.html' %}
{% block title %} Here is the Add Page {% endblock %}
{% block content %}
    
<body>
    <h1>Add a pet!</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        </p>
        <p>
            {% for err in field.errors %}
            {{err}}
            {% endfor %}
        </p>
        
        
        {% endfor %}
        <button>submit pet!</button>
    </form>
</body>
{% endblock %}