{% extends 'base.html' %}
{% block title %} Here is the edit_pet Page {% endblock %}
{% block content %}
    
<body>
    <h1>Edit Pet!</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        </p>
        <p>
            {% for err in field.errors %}
            {{err}}
            {% endfor %}
        </p>
        
        
        {% endfor %}
        <button>submit pet!</button>
    </body>
    {% endblock %}