{% extends 'base.html' %}
{% block title %} Here is the homepage {% endblock %}
<html>
    
    <body>
        {% block content %}
        <div class="main_container">

            <h1>Welcome to Victor's pet adoption agency</h1>


            <div class="pet_list">
                <h3>Take a look at our pets!</h3>
                <ul>
                    {% for pet in pets %}
                    <li>
                        <a href="/pet_id_{{pet.id}}">{{pet.name}}</a>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    
        {% endblock %}
</body>

</html>