{% extends 'base.html' %}
{% block title %} Here is the show_pet Page {% endblock %}
{% block content %}
    
<body>
    <h1>Here is {{pet.name}}</h1>
    <p>{{pet.name}} is a {{pet.species}} and they are {{pet.age}} years old</p>
    <h2> Some misc notes about {{pet.name}}</h2>
    <p>{{pet.notes}}</p>
    <form action="/edit_pet_{{pet.id}}">
        <button>
            Edit Pet!
        </button>
    </form>
    <form action="/delete_pet_{{pet.id}}">
        <button>
            Delete pet!
        </button>
    </form>
</body>
{% endblock %}